#game-board {
  width: 100%;
  height: 100%;
  opacity: 1;
}

#game-pieces {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-moves {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  opacity: 0.8;
}

#game-moves div {
  float: left;
  clear: left;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  background: white;
  color: black;
  font: normal 14px/140% "Roboto Mono", sans-serif;
}

#game-moves .black {
  background: black;
  color: white;
}
